<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>The Google Authenticate Playground</title>
    <meta name="description" content="The Google Authenticate Playground">
    <meta name="author" content="Justin Tadlock">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <meta name="google-signin-client_id" content="{{ client_id }}">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</head>

<body>
    <div class="content">
        <h1>Google Authentication Playground Testing</h1>
        {% if authenticated %}
            <script src="{{ url_for('static', filename='scripts.js') }}">
                showSignInBtn(false);
            </script>
        {% else %}
            <script src="{{ url_for('static', filename='scripts.js') }}">
                showSignInBtn(true);
            </script>
        {% endif %}
        <div class='sign-in'>
            <div>Not currently logged in</div>
            <div class="g-signin2" data-onsuccess="onSignIn"></div>
        </div>
        <div class='sign-out'>
            <div>Currently logged in</div>
            <a href="#" onclick="signOut();">Sign out</a>
        </div>

        <div class="result"></div>

        <h3>Secret User Posts</h3>
        <table>
            <tr>
                <th>User</th><th>Secret Message Posts</th>
            </tr>
            {% for user_post in user_posts %}
            <tr>
                <td>{{ user_post.name }}</td>
                <td>
                    {% if authenticated %}
                        {{ user_post.secret }}
                    {% else %}
                        Hidden
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</html>
