<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>The Google Authenticate Playground</title>
    <meta name="description" content="The Google Authenticate Playground">
    <meta name="author" content="Justin Tadlock">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <meta name="google-signin-client_id" content="{{ client_id }}">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</head>

<body>
    <!-- Facebook Import -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0&appId=434043257321789&autoLogAppEvents=1"></script>

    <div class="content">
        <h1>Authentication Playground Testing</h1>

        <!-- Google Authentication -->
        {% if authenticated %}
            <script src="{{ url_for('static', filename='scripts.js') }}">
                showSignInBtn(false);
            </script>
        {% else %}
            <script src="{{ url_for('static', filename='scripts.js') }}">
                showSignInBtn(true);
            </script>
        {% endif %}
        <div class='sign-in'>
            <div>Not currently logged in</div>
            <div class="g-signin2" data-onsuccess="onSignIn"></div>
        </div>
        <div class='sign-out'>
            <div>Currently logged in</div>
            <a href="#" onclick="signOut();">Sign out</a>
        </div>

        <!-- Facebook Authentication -->
        <div class="fb-login-button" data-width="" data-size="medium" data-button-type="login_with" data-auto-logout-link="true" data-use-continue-as="false"></div>

        <!-- Result for logging in confirmation-->
        <div class="result"></div>

        <h3>Secret User Posts</h3>
        <table>
            <tr>
                <th>User</th><th>Secret Message Posts</th>
            </tr>
            {% for user_post in user_posts %}
            <tr>
                <td>{{ user_post.name }}</td>
                <td>
                    {% if authenticated %}
                        {{ user_post.secret }}
                    {% else %}
                        Hidden
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</html>
