<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>The Google Authenticate Playground</title>
    <meta name="description" content="The Google Authenticate Playground">
    <meta name="author" content="Justin Tadlock">
    <meta id="state" data-state="{{state}}">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <meta name="google-signin-client_id" content="{{ client_id }}">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</head>

<body>
    <!-- Facebook Import -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0&appId=434043257321789&autoLogAppEvents=1"></script>

    <div class="content">
        <h1>Authentication Playground Testing</h1>

        <div class='login-banner'>
            <!-- Google Authentication -->
            <div class='google-auth'>
                <div class='sign-in'>
                    <div class="g-signin2" 
                         data-width="220" 
                         data-height="40" 
                         data-longtitle="true"
                         data-onsuccess="onSignIn" 
                         data-theme="dark"
                         data-approvalprompt="force">
                    </div>
                </div>
            </div>

            <!-- Facebook Authentication -->
            <div class='facebook-auth'>
                <div class="fb-login-button" data-width="50" data-size="large" data-button-type="login_with" data-auto-logout-link="true" data-use-continue-as="false" data-scope="public_profile, email"></div>
            </div>
        </div>

        <!-- Result for logging in confirmation-->
        <div class="result"></div>

        <!-- Used for stating if the user is logged in/out -->
        <div class="mx-auto login-state">
            <p>
            {% if authenticated %}
                Currently logged in
            {% else %}
                Not currently logged in
            {% endif %}
            </p>
        </div>

        <div class="mx-auto">
            <h2>Secret User Posts</h2>
            <table>
                <tr>
                    <th>User</th><th>Secret Message Posts</th>
                </tr>
                {% for user_post in user_posts %}
                <tr>
                    <td>{{ user_post.name }}</td>
                    <td>
                        {% if authenticated %}
                            {{ user_post.secret }}
                        {% else %}
                            Hidden
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</html>
